a:visited,
a:hover {
    color: brown;
}

a {
    text-decoration: none;
    display: inline;
    position: relative;
    overflow: hidden;
}

a::after {
    content: "";
    position: absolute;
    background-color: brown;
    width: 0;
    height: 0.2rem;
    bottom: -1px;
    left: 0;
    transition: all 0.3s ease-in-out;
}

a:hover::after {
    width: 100%;
}
